/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
.gradle
.externalNativeBuild
.cxx
local.properties
/captures
.sass-cache
.jekyll-cache
.jekyll-metadata
google-services.json
Notes.kt
vendor
